.wrap #syntatis-feature-flipper-settings {
	.kubrick-Notice-root {
		margin-top: 10px;
	}

	.kubrick-Switch-root {
		display: inline-block;
		width: max-content;
	}

	details summary {
		font-weight: 600;
		cursor: pointer;
	}
}
