parameters:
  level: 9
  bootstrapFiles:
    - dist/autoload/vendor/autoload.php
  paths:
    - app

  ## syntatis/phpstan-psr-11
  syntatis:
        psr-11: SSFV\Psr\Container\ContainerInterface

  ## johnbillion/wp-compat
  WPCompat:
    requiresAtLeast: '6.0'
