parameters:
  level: 10
  bootstrapFiles:
    - dist/autoload/vendor/autoload.php
  paths:
    - app

  ignoreErrors:
    -
      message: '#^Unused Syntatis\\FeatureFlipper\\Helpers\\Option\:\:.*$#'
      path: app/Helpers/Option.php
    -
      identifier: shipmonk.checkedExceptionInYieldingMethod
    -
      identifier: shipmonk.forbiddenCast

  ## syntatis/phpstan-psr-11
  syntatis:
    psr-11: SSFV\Psr\Container\ContainerInterface

  ## johnbillion/wp-compat
  WPCompat:
    requiresAtLeast: '6.0'
