:global(#wpadminbar #wp-admin-bar-syntatis-feature-flipper-env-type) {
	> [role="menuitem"] {
		padding: 0;
	}
}

:global(#wpadminbar #syntatis-feature-flipper-env-type-root) {
	.trigger {
		background-color: transparent;
		border: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.25rem;
		padding: 0 0.5rem;
		cursor: help;
		color: inherit;

		&:focus {
			box-shadow: none;
			outline: 2px solid var(--kubrick-accent-color);
			outline-offset: -2px;
		}
	}

	:global(.dashicons) {
		margin-right: 0;
	}
}

// Force the tooltip styles, which may be overridden by theme styles.
.tooltip {
	color: var(--kubrick-gray-700) !important;
	font-size: 13px !important;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
	line-height: 1.4em !important;

	p:only-child {
		margin: 0;
	}
}
