name: CI

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/ci.yml"
      - "**.php"
      - "composer.json"
      - "phpcs.xml.dist"
      - "phpstan.neon.dist"
      - "phpunit.xml.dist"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  typo:
    runs-on: ubuntu-latest
    name: Typo

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Check spelling
        uses: crate-ci/typos@v1.35.7

  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.4"

      - name: Install PHP dependencies
        uses: ramsey/composer-install@v3

      - name: Check code styles
        run: composer lint

  analyze:
    runs-on: ubuntu-latest
    name: Analyze

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.4"

      - name: Install PHP dependencies
        uses: ramsey/composer-install@v3

      - name: Analyze source code
        run: composer analyze

  test:
    needs: [typo, lint, analyze]
    runs-on: ubuntu-latest
    name: Test

    strategy:
      fail-fast: true
      max-parallel: 2
      matrix:
        php-version: ["7.4", "8.0", "8.1", "8.2", "8.3", "8.4"]
        wp-core-version: ["latest", "wordpress-6.4.6"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version: "20.x"

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.4"
          tools: composer:v2

      - name: Get Docker version
        run: docker -v

      - name: Install Node.js dependencies
        run: npm ci

      - name: Install PHP dependencies
        uses: ramsey/composer-install@v3

      - name: Start wp-env
        run: |
          jq -n \
             --arg phpVersion "${{ matrix.php-version }}" \
             --arg wpCoreVersion "https://wordpress.org/${{ matrix.wp-core-version }}.zip" \
            '{"phpVersion":$phpVersion, "core":$wpCoreVersion}' \
            > .wp-env.override.json
          npx wp-env start
          npx wp-env run tests-wordpress --env-cwd=/var/www/html/wp-content/plugins/$(echo "${PWD##*/}") php -v

      - name: Run tests
        run: npm run wp-env:tests-wordpress
